<div class="control-group">
  <div class="controls">
    <%= f.text_field :first_name, placeholder: "First Name", class: "input-medium" %>
    <%= f.text_field :last_name, placeholder: "Last Name", class: "input-medium" %>
  </div>


  <div class="controls">
    <%= f.text_field :number, placeholder: "Card Number", class: "input-medium" %>
    <%= f.text_field :verification_value, placeholder: "CVV", class: "input-mini" %>
  </div>

  <div class="controls">
    <%= f.text_field :month, placeholder: "Expiration Month", class: "input-medium" %>
    <%= f.text_field :year, placeholder: "Expiration Year", class: "input-medium" %>
  </div>

  <div class="controls">
    <%= text_field_tag "data[how_many]", @credit_card.how_many, :id => "credit_card_how_many", placeholder: "# of Shirts", class: "input-small" %>
  </div>
</div>
