<div class="container">
  <div class="page-header">
    <h1>Buy TShirts</h1>
    <h2>
      <small>For only 2 cents a piece!</small>
    </h2>

  </div>

  <%= error_messages_for 'credit_card', :object_name => "credit card" %>
  <%= form_for @credit_card, :as => :credit_card, :url => SpreedlyCore.add_payment_method_url do |f| %>
    <%= render 'tshirts/hidden_form_fields' %>
    <%= render 'tshirts/payment_form_fields', :f => f %>

    <br/>
    <button type="submit" class="btn btn-primary">Purchase</button>

  <% end %>

  <br/>
  <br/>
  <div>
    <p>
      * This is hooked up to a Spreedly Core Test gateway and does not use real money.
      <br/>
      &nbsp; This gateway accepts a <%= link_to 'number of test cards', 'https://spreedlycore.com/manual/test-data' %>.
    </p>
  </div>
</div>
