<div class="grid_8 prefix_2 suffix_2">
  <h1>
    <%= link_to_unless_current "Home", root_url %>
    &gt; Buy TShirts
  </h1>
</div>

<div class="grid_8 prefix_2 suffix_2">
  <div class="paddedLeft paddedRight">
    <%= form_for @payment_method, as: :data, url: SpreedlyCore.add_payment_method_url do |f| %>
      <%= render 'tshirts/hidden_form_fields' %>

      <fieldset>
        <legend>Purchase Details</legend>
        <div class="set">
          <%= f.label :how_many, "How many shirts? (4 cents each):", class: :textbox %>
          <%= f.text_field :how_many, class: :textbox %>
        </div>
      </fieldset>

      <% PaymentMethod.each(@payment_method.type) do |e| %>
        <%= render "tshirts/#{e.underscore}_fields" %>
      <% end %>
    <% end %>
  </div>
</div>
