
.grid_8.prefix_2.suffix_2
  %h1
    = link_to_unless_current "Home", root_url
    > Buy TShirts

.grid_8.prefix_2.suffix_2
  .panel.paddedLeft.paddedRight
    %h2 Payment Information

    = error_messages_for 'credit_card', :object_name => "credit card"
    = form_for @credit_card, :as => :credit_card, :url => SpreedlyCore.add_payment_method_url do |f|
      = render 'tshirts/hidden_form_fields'
      = render 'tshirts/payment_form_fields', :f => f

      %button(type="submit") Submit Payment
