%h1 Signup

= form_for @user do |f|
  = f.error_messages
  %fieldset
    .set
      = f.label :email, nil, :class => :textbox
      = f.text_field :email, :class => :textbox
    .set
      = f.label :password, nil, :class => :textbox
      = f.password_field :password, :class => :textbox
  
  %button(type="submit") Signup
  or
  = link_to "Cancel", root_url, :class=>"cancel"
    
