
<div class="container">
  <div class="page-header">
    <h1>Orders</h1>
    <h2>
      <small>
        <p>
          This is where we show the actual purchases.
        </p>
      </small>
    </h2>

  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Time</th>
        <th>Order Type</th>
        <th>Payment Method Type</th>
        <th>State</th>
        <th>Email</th>
        <th>Quantity</th>
        <th>Amount</th>
      </tr>

      <tbody>

        <% for order in @orders -%>
          <tr>
            <td><%= order.created_at.to_s(:short) %></td>
            <td><%= order.order_type %></td>
            <td><%= order.payment_method.try(:payment_method_type) %></td>
            <td><%= order.state.titleize %></td>
            <td><%= order.email %></td>
            <td><%= order.quantity %></td>
            <td><%= number_to_currency(order.amount/100.0) %></td>

          </tr>
        <% end -%>

      </tbody>
    </thead>

  </table>

  <br/>
  <h1>Settle Test Gateway Transactions</h1>
  <p>
    Delayed transactions like eChecks may reach the "processing" state to indicate that the transaction has been accepted but that the funds haven't actually cleared yet.  For some payment method types, it could take days for a transaction to move to a succeeded or a gateway_processing_failed state.
  </p>

  <p>
    For the Test Gateway, we can trigger this process manually.  Use the buttons below to do so.
  </p>

  <%= form_tag('/orders/settle') do -%>
    <div>
      <button type="submit" class="btn span2" name="state" value="succeeded">Succeeded</button>
      <button type="submit" class="btn span2" name="state" value="gateway_processing_failed">Failed</button>
    </div>
  <% end -%>

</div>
