<html>
  <head>
    <title>Spreedly Core Sample</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <p class="header">
      Spreedly Core Sample App. Visit
      <%= link_to "Spreedlycore.com", "https://spreedlycore.com" %>
      for more information.
    </p>

    <div class="container_12">
      <%= render '/layouts/flash_details' %>
      <div class="inner">
        <%= yield %>
      </div>
    </div>
  </body>
</html>

