<!DOCTYPE html>
<html>
  <head>
    <title><%= APP_NAME %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <header class="navbar navbar-fixed-top">
      <nav class="navbar-inner">
        <div class="container">
          <a href="/" class="brand">Home</a>
          <ul class="nav">
            <li>
              <%= link_to "Buy TShirts", buy_tshirt_url %>
            </li>
            <li>
              <%= link_to "About", about_url %>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <%= render '/layouts/messages' %>
    <%= yield %>
    <div class="container">
      <hr/>
      <footer>
        <p>
          <small>
            © 2012 <%= link_to "Spreedly", "https://spreedlycore.com" %> Corporation.  All rights reserved.
          </small>
        </p>
      </footer>
    </div>
  </body>
</html>

